:root {
  --cor-primaria: #ff5c00;
  --cor-destaque: #bb693a;
  --cor-secundaria: #70a1fc;

  /* Tons de Fundo */
  --fundo-principal: #121212;
  --fundo-secundario: #1e1e1e;
  --fundo-card-hover: #2a2a2a;
  --borda-sutil: #444;

  /* Cores de Texto */
  --texto-principal: #e0e0e0;
  --texto-secundario: #888;
  --texto-branco: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



